{
  "title": "CodeX Docs",
  "description": "A block-styled editor with clean JSON output",
  "menu": [
    "Guides",
    "API",
    "Plugins",
    {"title": "Support Project", "uri": "/support"}
  ],
  "landingFrameSrc": "https://codex.so/editor?frame=1",
  "startPage": "codex",
  "misprintsChatId": "12344564",
  "yandexMetrikaId": "",
  "carbon": {
    "serve": "",
    "placement": ""
  }
}
