{
  "title": "CodeX Docs",
  "menu": [
    "Guides",
    "API",
    "Plugins",
    {"title": "Support Project", "uri": "/support"}
  ],
  "landingFrameSrc": "https://codex.so/editor?frame=1",
  "misprintsChatId": "12344564",
  "reactions": {
    "parent": ".page",
    "title": "What do you think?",
    "reactions": ["👍", "👌", "👎"]
  }
}
