{
  "extends": [
    "codex"
  ],
  "plugins": [
    "chai-friendly"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
