{
  "extends": [
    "codex"
  ],
  "plugins": [
    "chai-friendly"
  ],
  "env": {
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "parser": "babel-eslint",
  "globals": {
    "fetch": true,
    "alert": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
