{% extends 'layout.twig' %}

{% block body %}
  <div class="page">
    <h1>Index page</h1>

    <p>Start page is not defined in <code class="inline-code">.codexdocsrc</code> file.</p>
  </div>
{% endblock %}
