<div class="block-code">
  <div class="block-code__wrapper">
    <div class="block-code__content">{{ code | escape }}</div>
  </div>
  {%
    include '../../components/copy-button.twig' with {
      ariaLabel: 'Copy Code to Clipboard',
      class: 'block-code__copy-button',
      textToCopy: code | escape,
    }
  %}
</div>
