<!DOCTYPE html>
<html>
  <head>
    <title>{{ (page.title ?: config.title) | striptags }}</title>
    <link rel="stylesheet" href="/dist/main.css" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title | striptags }}" />
    <meta property="article:modified_time" content="{{ (page.body.time / 1000) | date("c") }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
    <script>
      window.config = {
        chatId: ''
      };
      window.config.chatId = "{{ config.chatId }}";
    </script>
  <body>
    {% include "components/header.twig" with res.locals.isAuthorized %}
    <div class="docs">
      <aside class="docs__aside">
        {% include "components/aside.twig" %}
      </aside>
      <div class="docs__content">
        <div class="docs__content-inner">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="/dist/main.bundle.js"></script>
  </body>
</html>
