<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/dist/bundle.css" />
    <script src="/dist/bundle.js" onload="new Docs()"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
