<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/dist/bundle.css" />
  </head>
  <body>
    {% include "components/header.twig" %}
    <div class="docs">
      <aside class="docs__aside">
        {% include "components/aside.twig" %}
      </aside>
      <div class="docs__content">
        <div class="docs__content-inner">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="/dist/main.bundle.js"></script>
  </body>
</html>
