<div class="block-warning">
  <div class="block-warning__icon">
    ☝️
  </div>
  {% if title is not empty %}
    <div class="block-warning__title">
      {{ title }}
    </div>
  {% endif %}
  <div class="block-warning__message">
    {{ message }}
  </div>
</div>
