<div class="block-warning">
  <div class="block-warning__icon">
    ☝️
  </div>
  <div class="block-warning__title">
    {{ title }}
  </div>
  <div class="block-warning__message">
    {{ message }}
  </div>
</div>
