.docs-left-aside {
  font-size: 14px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  @media (--mobile) {
    position: static;
    overflow: visible;
    max-height: none;
    font-size: 13px;
    display: none;
    margin-top: 20px;
  }

  &--toggled {
    display: block !important;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--color-link-active);
    }
  }

  &__section-wrapper {
    flex-grow: 1;
    overflow: auto;
  }

  &__section {
    margin-bottom: 30px;

    @media (--mobile) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-title {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 1.18em;
      font-weight: 600;
      max-width: var(--layout-width-aside);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (--mobile) {
        margin-bottom: 10px;
      }
    }

    &-list {
      padding-left: 0;
      margin: 0;
      list-style: none;

      a {
        display: inline-block;
        color: inherit;
        padding: 8px 0;
        line-height: 1.5em;
      }
    }
  }

  &__current {
    color: var(--color-page-active) !important;
  }

  &__logo-wrapper {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 18px;
    padding-bottom: 20px;

    .logo {
      display: inline-flex;
    }
  }
}

.docs-aside-toggler {
  display: none;
  font-size: 13px;
  cursor: pointer;
  color: var(--color-text-second);

  @media (--mobile) {
    display: block;
  }

  svg {
    margin-right: 10px;
  }
}

.docs-right-aside {
  padding-left: 22px;
  border-left: solid 1px var(--color-line-gray);
  font-size: 14px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__title {
    padding: 0px 6px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-radius: 8px;

    &:hover {
      background-color: var(--color-link-hover);
    }
  }

  &__section-wrapper {
    flex-grow: 1;
    overflow: auto;
    padding-left: 8px;
  }

  &__section {
    margin-bottom: 6px;
    &:last-of-type {
      margin-bottom: 0;
    }

    &-title {
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      max-width: var(--layout-width-aside);
      white-space: wrap;
      padding: 4px 8px;
    }
  }

  &__current {
    background-color: var(--color-link-hover) !important;
  }
}
