.error-page {
  font-size: 15px;
  text-align: center;
  margin-top: 30vh;
  margin-left: 20vw;

  @media (--mobile) {
    margin-left: 0vw;
  }

  h1 {
    @media (--mobile) {
      font-size: 20px;
    }
  }

  p {
    margin: 40px 0 20px;
  }
}
