.greeting-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.greeting-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  & > svg {
    width: 62px;
    height: 71px;
  }

  &__message {
    margin: 0;
    padding: 26px 0 26px 0;
    font-weight: 500;
  }
}
