.docs-header {
  display: flex;
  flex-shrink: 0;
  padding: 0 var(--layout-padding-horisontal);
  border-bottom: 1px solid var(--color-line-gray);
  font-size: 15.8px;
  line-height: 50px;
  flex-wrap: wrap;
  position: relative;

  @media (--mobile){
    line-height: 40px;
  }

  &__menu-link,
  &__logo {
    display: inline-block;
  }

  &__logo {
    font-weight: bold;
    color: inherit;
  }

  &__menu {
    display: flex;
    margin: 0 0 0 auto;
    padding-left: 0;

    @media (--mobile) {
      flex-basis: 100%;
      font-size: 12px;
    }

    li {
      display: inline-flex;
      align-items: center;
      list-style: none;
      margin-left: 20px;

      @media (--mobile) {
        margin-left: 0;
        margin-right: 15px;
      }
    }

    &-add {
      @media (--mobile) {
        position: absolute;
        right: 15px;
        top: 15px;
        line-height: 1em;
        margin: 0 !important;
      }
      a {
        @media (--mobile) {
          font-size: 0;
          padding: 0 4px;
          margin-right: 0;
        }
      }

      .docs-button__icon {
        @media (--mobile) {
          margin-right: 0;
        }
      }
    }

    &-link {
      &:hover {
        color: var(--color-link-active);
      }
    }
  }
}
