.docs-header {
  font-size: 15.8px;
  border-bottom: 1px solid var(--color-line-gray);
  line-height: 50px;
  display: flex;
  padding: 0 var(--layout-padding-horisontal);

  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover {
      color: var(--color-link-active);
    }
  }

  &__logo {
    font-weight: bold;
  }

  &__menu {
    display: flex;
    margin: 0 0 0 auto;

    li {
      list-style: none;
      margin-left: 20px;
    }
  }
}
