/**
 * Index page landing iframe
 */
.landing-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.landing-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);

  & > svg {
    width: 80px;
    height: 80px;
  }
}

.landing-frame {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
  will-change: opacity;
}
