.navigator {
  margin-top: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-link-hover);
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  color: black;
  width: max-content;
  font-weight: 500;
  font-size: 14px;

  &--previous {
    align-items: flex-start;
  }

  &--next {
    align-items: flex-end;
  }

  &-direction {
    text-transform: capitalize;
    color: var(--color-direction-navigation);
    font-size: 12px;
    font-weight: 400;
  }

  &-label {
    width: 100%;
  }
}



