.docs-sidebar--right {
  @media (--mobile) {
    display: none;
  }

  height: calc(100vh - var(--layout-height-header));
  width: var(--layout-sidebar-width);
  padding: var(--layout-padding-vertical) var(--layout-padding-horizontal);
  box-sizing: border-box;

  position: sticky;
  top: var(--layout-height-header);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
