.table-of-content {
  border-left: solid 1px var(--color-line-gray);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.01em;
  font-size: 14px;
  width: 100%;
  /*dummy values*/
  background: var(--color-line-gray);
  height: 300px;
}
