.writing-header {
  position: sticky;
  top: 0;
  padding: 15px 0;
  margin-top: calc(-1 * var(--layout-padding-vertical));
  background: #fff;
  box-shadow: 0 3px 10px #fff;
  z-index: 2;
  font-size: 14px;

  &__save {
    @apply --button;
    @apply --button-primary;
    margin: auto;
  }

  &__left {
    margin: auto 0;
    display: flex;
    color: var(--color-text-second);
    gap: 10px;

    @media(--mobile) {
      flex-flow: column;
    }

    & > * {
      flex: 0 1 33.3%;
    }

    label {
      display: block;
      margin-bottom: 6px;
    }

    select {
      @apply --select;
    }

    input {
      @apply --input;
    }
  }
}

.writing-buttons {
  &__remove {
    @apply --button;
    @apply --button-danger;
  }
}

.writing-editor {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.005em;

  @media (--desktop) {
    margin: 0 -100px;
  }

  .ce-code__textarea {
    color: #41314e;
    line-height: 1.6em;
    font-size: 12px;
    background: var(--color-bg-light);
    border: 1px solid #f1f1f4;
    box-shadow: none;
  }

  .ce-paragraph a {
    color: inherit;
  }

  .ce-header {
    @apply --font-serif;
  }
}

.codex-editor__redactor .ce-block:first-of-type .ce-header {
  font-size: 32px;
}
