.writing-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 15px 0;
  margin-top: calc(-1 * var(--layout-padding-vertical));
  background: #fff;
  box-shadow: 0 3px 10px #fff;
  z-index: 2;

  &__save {
    @apply --button;
    margin-left: auto;
  }

  &__left {
    margin: auto 0;
    color: var(--color-text-second);

    & span {
      margin-right: 10px;
    }
  }
}

.uri-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  outline: none;
}
