.diff {
  display: inline-block;
  width: 100%;

  &--added {
    color: var(--color-diff-added-text);
    background-color: var(--color-diff-added-bg);

    &::before {
      content: '+';
      opacity: 0.8;
    }
  }

  &--removed {
    color: var(--color-diff-removed-text);
    background-color: var(--color-diff-removed-bg);

    &::before {
      content: '-';
      opacity: 0.8;
    }
  }
}
