.diff {
  display: inline-block;
  width: 100%;

  span {
    color: inherit !important;
  }

  &--added {
    color: #277030;
    background-color: #e2fce7;

    &::before {
      content: '+';
      opacity: 0.4;
    }
  }

  &--removed {
    color: rgb(174, 54, 60);
    background-color: rgba(255, 230, 230, 1);

    &::before {
      content: '-';
      opacity: 0.4;
    }
  }
}
