.docs {
  @media (--mobile) {
    flex-wrap: wrap;
  }

  &__aside {
    width: var(--layout-width-aside);
    padding: 0px var(--layout-padding-horizontal-aside);
    border-right: solid 1px var(--color-line-gray);
    position: fixed;
    top: var(--layout-height-header);
    height: calc(
      100%-var(--layout-height-header)-var(--layout-padding-vertical)
    );

    @media (--mobile) {
      width: 100%;
      flex-basis: 100%;
      padding: 20px var(--layout-padding-horizontal) !important;
      margin: 0 calc(-1 * var(--layout-padding-horizontal));
      border-bottom: 1px solid var(--color-line-gray);
    }
  }

  &__content {
    margin-top: var(--layout-height-header);

    @media (--mobile) {
      width: 100%;
      flex-basis: 100%;
    }

    &-inner {
      max-width: var(--layout-width-main-col);
      margin: 0 auto;
    }
  }

  &__aside-right {
    position: fixed;
    top: var(--layout-height-header);
    right: 0;
    width: var(--layout-width-aside-right);
    max-width: var(--layout-width-aside-right);
  }

  &__aside,
  &__aside-right,
  &__content {
    padding-top: var(--layout-padding-vertical);

    @media (--mobile) {
      padding: 20px 0;
    }
  }
}
