@import url('../../../node_modules/normalize.css');
@import url('vars.pcss');
@import url('layout.pcss');
@import url('components/header.pcss');
@import url('components/aside.pcss');

body {
  font-family: system-ui, Helvetica, Arial, Verdana;
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  fill: currentColor;
}
