:root {
  --color-text-main: #313649;
  --color-text-second: #5d6068;
  --color-line-gray: #e8e8eb;
  --color-link-active: #2071cc;
  --color-link-hover: #f3f6f8;
  --color-bg-light: #f8f7fa;
  --color-page-active: #ff1767;

  --color-button-primary: #3389ff;
  --color-button-primary-hover: #2e7ae6;
  --color-button-primary-active: #296dcc;

  --color-button-secondary: #717682;
  --color-button-secondary-hover: #5d6068;
  --color-button-secondary-active: #4b4f5b;

  --color-button-warning: #ef5c5c;
  --color-button-warning-hover: #d65151;
  --color-button-warning-active: #bd4848;

  /**
   * Site layout sizes
   */
  --layout-padding-horizontal: 16px;
  --layout-padding-vertical: 30px;

  --layout-width-aside: 300px;
  --layout-padding-horizontal-aside: 22px;

  --layout-width-main-col: 650px;

  --layout-max-width-aside-right: 450px;
  --layout-max-space-from-right-aside: 160px;
  --layout-available-right-aside-width: calc(
    50% - var(--layout-width-main-col) / 2
  );

  --layout-width-aside-right: min(
    var(--layout-available-right-aside-width),
    var(--layout-max-width-aside-right)
  );

  --layout-height-header: 57px;

  @media (--extrem-wide-desktop) {
    --layout-width-aside-right: calc(
      var(--layout-available-right-aside-width)-var(
          --layout-max-space-from-right-aside
        )
    );
  }

  @media (--mobile) {
    --layout-padding-horizontal: 15px;
    --layout-padding-vertical: 15px;
    --layout-width-aside-right: 0px;
  }

  --font-mono: Menlo, Monaco, Consolas, Courier New, monospace;

  --font-serif {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
      Arial, sans-serif;
    letter-spacing: -0.03em;
  }

  --button {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    color: #6c6375;
    background: #fcfcff;
    box-shadow: inset 0 0 0 1px rgba(184, 189, 206, 0.2);
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: 0;

    svg {
      margin: 0 0.3em 0 -0.05em;
    }
  }

  --button-primary {
    background: var(--color-link-active);
    color: #fff;
    box-shadow: none;

    &:hover {
      background: color-mod(var(--color-link-active) blackness(+10%));
    }
  }
}

/**
* Custom media queries
*/
@custom-media --extrem-wide-desktop all and (min-width: 1710px);
@custom-media --wide-desktop all and (min-width: 1300px);
@custom-media --desktop all and (min-width: 1050px);
@custom-media --tablet all and (min-width: 980px) and (max-width: 1050px);
@custom-media --mobile all and (max-width: 980px);
@custom-media --retina all and (-webkit-min-device-pixel-ratio: 1.5);
