:root {
  --color-text-main: #1D202B;
  --color-text-second: #7B7E89;
  --color-line-gray: #E8E8EB;
  --color-link-active: #388AE5;

  /**
   * Site layout sizes
   */
  --layout-padding-horisontal: 40px;
  --layout-width-aside: 250px;
  --layout-width-main-col: 650px;
}
