#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  z-index: 100;
  margin: 15px 0 20px;
  overflow: hidden;

  background-color: hsl(0, 0%, 98%);
  border-radius: 6px;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (--mobile) {
  #carbonads {
    max-width: unset;
  }

  #carbonads span {
    width: 100%;
  }
}

@media (--tablet), (--desktop) {
  #carbonads {
    float: right;

    padding: 10px 10px 10px 40px;
    background: #fff;
    border-radius: 0;
    margin: 0;

    max-width: 130px;
  }

  #carbonads .carbon-wrap {
    flex-flow: column nowrap;
  }

  #carbonads .carbon-text {
    line-height: initial;
    padding: 10px 0;
  }

  #carbonads .carbon-poweredby {
    left: 0;
    right: unset;
    padding: 6px 0;
    background: none;

    color: var(--color-text-second);
  }
}

@media(--wide-desktop) {
  #carbonads {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
