<header class="docs-header">
  <a href="/" class="docs-header__logo">
    {{ config.title | striptags }}
  </a>
  <ul class="docs-header__menu">
    {% if isAuthorized == true %}
      <li class="docs-header__menu-add">
          <a href="/page/new">
             {% include 'components/button.twig' with {label: 'Add page', icon: 'plus', size: 'small'} %}
          </a>
      </li>
    {% endif %}
    {% for option in config.menu %}
      <li>
        <a
          {% if option.uri %}
            href="{{ option.uri }}"
          {% else %}
            href="/page/{{ option._id }}"
          {% endif %}>
          {{ option.title | striptags }}
        </a>
      </li>
    {% endfor %}
  </ul>
</header>
