<div class="docs-right-aside">
	<div class="docs-right-aside__title">
		On this page
	</div>
	<div class="docs-right-aside__section-wrapper">
		<section class="docs-right-aside__section">
			<a class="docs-right-aside__section-title">
				Fast access link
			</a>
		</section>
		<section class="docs-right-aside__section">
			<a class="docs-right-aside__section-title docs-right-aside__current">
				Hawk roadmap
			</a>
		</section>
		<section class="docs-right-aside__section">
			<a class="docs-right-aside__section-title">
				The third section with long title for several lines of text
			</a>
		</section>
	</div>
</div>
