<div class="docs-aside">
  <section class="docs-aside__section">
    <a class="docs-aside__section-title" href="">
      Base concepts
    </a>
    <ul class="docs-aside__section-list">
      <li>
        <a href="">
          Insallation
        </a>
      </li>
      <li>
        <a href="">
          Usage
        </a>
      </li>
    </ul>
  </section>
</div>
