<div class="docs-aside">
    {% for firstLevelPage in menu %}
      <section class="docs-aside__section">
        <a class="docs-aside__section-title" href="/{{ firstLevelPage.uri }}">
          {{ firstLevelPage.title }}
        </a>
        {% if firstLevelPage.children is not empty %}
          <ul class="docs-aside__section-list">
            {% for child in firstLevelPage.children %}
              <li>
                <a href="{{ child.uri }}">
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </section>
    {% endfor %}
</div>
