
{% set productHuntUrl = 'https://www.producthunt.com/posts/hawk-2?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-hawk-2' %}

<div class="hawk-bnnr">
  <div class="hawk-bnnr__content">
    <div class="hawk-bnnr__title">
      What a day!
      <img src="/dist/hawk-smiles.png">
    </div>
    <div class="hawk-bnnr__text">
      Today we are releasing our next big open-source project.
      As big as Editor.js or bigger. It is the error tracking service
      called Hawk! Check it out.
    </div>

    <div class="hawk-bnnr__show-only-for-mobile">
      <div class="hawk-bnnr__second_title">
        Hawk
      </div>
      <div class="hawk-bnnr__slogan">
        Code problems resolved.
      </div>
    </div>
  </div>

  <a
    class="hawk-bnnr__center"
    href="{{ productHuntUrl }}"
  >
    <img class="hawk-bnnr__garage" src="https://capella.pics/a7edc807-8421-412e-9489-80d1062dd02b.jpg" alt="Hawk.so Garage">
  </a>

  <div class="hawk-bnnr__right-content">
    <div class="hawk-bnnr__second_title hawk-bnnr__hide-in-mobile">
      Hawk
    </div>
    <div class="hawk-bnnr__slogan hawk-bnnr__hide-in-mobile">
      Code problems resolved.
    </div>
    <a href="{{ productHuntUrl }}" target="_blank">
      <img class="hawk-bnnr__product-hunt" src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=333015&amp;theme=light">
    </a>
  </div>
</div>
