<header class="docs-header">
  <a href="/" class="docs-header__logo">
    {{ config.title }}
  </a>
  <ul class="docs-header__menu">
    {% for option in config.menu %}
      <li>
        <a href="{{option.uri}}">
          {{ option.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</header>
