<header class="docs-header">
  <a href="/" class="docs-header__logo">
    CodeX Editor &nbsp; 🤩🧦🤨
  </a>
  <ul class="docs-header__menu">
    <li>
      <a href="">
        Guides
      </a>
    </li>
    <li>
      <a href="">
        API
      </a>
    </li>
    <li>
      <a href="">
        Plugins
      </a>
    </li>
    <li>
      <a href="">
        Support Project
      </a>
    </li>
  </ul>
</header>
